/* ------------------------------------------------------------------ */
/*        OO CORE
/* ------------------------------------------------------------------ */
/*------------------------------------*    PROJECT VARIABLES
\*------------------------------------*/
/*-------------------------------------------
    FUNCTIONS
-------------------------------------------*/
/*-------------------------------------------
    MIXINS
-------------------------------------------*/
/*
More info : http://msdn.microsoft.com/en-us/library/ms532969%28v=vs.85%29.aspx
http://stackoverflow.com/questions/2991623/make-background-size-work-in-ie
*/
/*
 * STRIPES MIXIN BY CHRIS COYIER
 *
 * Usage :
 * - Hard mode : you specify each color / position
 * - Auto mode : just the colors, the widths will be "automatic"
 *
 * Exemple :
 * Colors only (auto-mode)
 * $treehouse-auto: #fa9300, #66c9ee, #c9c9c9, #82b964, #d24d33, #fffbdb, #2e77bb, #6bd5b1, #f87aa0, #c9c9c9, #72664e, #ccd600, #fffbdb, #df620e, #993838, #ff9600, #d24d33, #8960a7, #82b964, #f87aa0, #d43f3f, #668000, #ff9600, #8960a7, #c9c9c9, #993838, #ccd600, #668000, #f4cc13, #72664e, #fa9300, #66c9ee, #c9c9c9, #82b964, #ccd600, #fffbdb, #2e77bb, #6bd5b1, #f87aa0, #c9c9c9, #fa9300, #66c9ee, #c9c9c9, #82b964, #ccd600, #fffbdb, #fa9300;
 *
 * Color-stops (hard-mode)
 * $treehouse-hard: #fa9300 2.61%, #66c9ee 4.35%, #c9c9c9 6.96%, #82b964 9.13%, #d24d33 11.3%, #fffbdb 13.91%, #2e77bb 16.52%, #6bd5b1 17.82%, #f87aa0 19.12%, #c9c9c9 21.29%, #72664e 23.9%, #ccd600 26.07%, #fffbdb 28.68%, #df620e 31.29%, #993838 33.03%, #ff9600 34.33%, #d24d33 36.94%, #8960a7 39.55%, #82b964 42.16%, #f87aa0 43.36%, #d43f3f 45.63%, #668000 47.8%, #ff9600 50.41%, #8960a7 51.71%, #c9c9c9 53.88%, #993838 55.18%, #ccd600 57.79%, #668000 59.53%, #f4cc13 60.83%, #72664e 63.44%, #fa9300 66.05%, #66c9ee 67.35%, #c9c9c9 69.96%, #82b964 71.7%, #ccd600 74.31%, #fffbdb 76.92%, #2e77bb 79.53%, #6bd5b1 80.4%, #f87aa0 81.7%, #c9c9c9 83.87%, #fa9300 86.04%, #66c9ee 87.78%, #c9c9c9 90.39%, #82b964 92.56%, #ccd600 95.17%, #fffbdb 97.34%, #fa9300 100%;
 *
 * @include stripes($treehouse-auto, to right);
 * or @include stripes($treehouse-hard, to right);
 *
 *
 * Reference : http://css-tricks.com/striped-background-gradients/
 *
 */
/* ------------------------------------------------------------------ */
/*        TRAILER / LEADERS
/* ------------------------------------------------------------------ */
/*-------------------------------------------
    EXTENDS
-------------------------------------------*/
/*-------------------------------------------
    ABSTRACT CLASS CSS SHARED
    FOR ALL CSS FILES
-------------------------------------------*/
/* ------------------------------------------------------------------ */
/*        TYPOGRAPHY
/* ------------------------------------------------------------------ */
/* Put in here your placeholders for typography */
/* ------------------------------------------------------------------ */
/*        FONTS
/* ------------------------------------------------------------------ */
/*
%yourfont {
    font-family:'yourfontfamily',Arial,sans-serif;
}
*/
/* ------------------------------------------------------------------ */
/*        HEADINGS
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/*        TEASINGS
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/*        UTILS
/* ------------------------------------------------------------------ */
/*-------------------------------------------
    GENERIC TRANSITIONS
-------------------------------------------*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
  clear: both; }

/* ------------------------------------------------------------------ */
/*        OO HELPERS
/* ------------------------------------------------------------------ */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none; }

img.picture {
  display: block; }

.no-scroll {
  overflow: hidden; }

/* Alignments */
.float-right {
  float: right; }

.float-left {
  float: left; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }

/* Bottom margins */
/* Top margins */
/* ------------------------------------------------------------------ */
/*        MOBILE (UNCOMMENT IF NEEDED)
/* ------------------------------------------------------------------ */
/*
@include mobile-only {
    .align-center-mobile { text-align:center; }
    .align-left-mobile   { text-align:left; }
    .align-right-mobile  { text-align:right; }

    .hidden-mobile { display:none !important; }
}
*/
/*@include keyframes('example') {
    0% { @include rotate(0deg); }
    100% { @include rotate(360deg); }
}*/
/* ------------------------------------------------------------------ */
/*        PROJECT STYLESHEET
/* ------------------------------------------------------------------ */
.grid {
  max-width: 1408px;
  padding: 0 4rem; }

.row {
  margin-left: -32px;
  margin-right: -32px; }

[class*="cell-"] {
  min-height: 1px;
  float: left;
  padding-left: 32px;
  padding-right: 32px; }

.cell-1 {
  width: 25%; }

.cell-2 {
  width: 50%; }

.cell-3 {
  width: 75%; }

.cell-4 {
  width: 100%; }

.prepend-1 {
  margin-left: 25%; }

.prepend-2 {
  margin-left: 50%; }

.prepend-3 {
  margin-left: 75%; }

.prepend-4 {
  margin-left: 100%; }

.append-1 {
  margin-right: 25%; }

.append-2 {
  margin-right: 50%; }

.append-3 {
  margin-right: 75%; }

.append-4 {
  margin-right: 100%; }

@media (max-width: 550px) {
  [class*="cell-"] {
    float: none;
    width: 100%;
    padding: 0; }
  .prepend-1 {
    margin-left: 0; }
  .prepend-2 {
    margin-left: 0; }
  .prepend-3 {
    margin-left: 0; }
  .prepend-4 {
    margin-left: 0; }
  .grid {
    padding: 0 1.25rem; }
  .row {
    margin: 0; } }

.header {
  margin-top: 3.75rem;
  padding: 0 0 2.5rem;
  overflow: hidden;
  background-color: #161616;
  transition: opacity 0.25s ease;
  /* Modifiers */ }
  .header--home {
    height: 6.875rem; }
  .header__nav {
    position: relative;
    padding-top: 2.5rem;
    border-top: 1px solid #454545; }
  .header__progress__container {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%; }
  .header__progress {
    width: 0;
    height: 1px;
    background-color: white;
    transition: all 0.35s ease; }
  .header__list {
    display: inline-block; }
  .header__item {
    display: inline-block;
    margin-right: 2.1875rem; }
  .header__link {
    font-size: 1.125rem;
    color: #828282; }
    .header__link:hover, .header__link.is-active {
      color: #ffffff; }
  .header__label {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.125rem; }
  .header__title {
    font-size: 0.75rem;
    color: #828282;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .header__back {
    float: right;
    margin-left: 25px;
    font-size: 18px;
    color: #828282; }
    .header__back .icon {
      margin-left: 0.375rem; }
      .header__back .icon path {
        fill: #828282; }
    .header__back:hover {
      color: white; }
      .header__back:hover path {
        fill: white; }
  .header__filters {
    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 100%; }
  .header__filters__reset {
    display: none;
    width: 1.5625rem;
    height: 1.5625rem; }
    .header__filters__reset .icon {
      position: relative;
      top: 0.75rem;
      display: block;
      margin: 0 auto; }
  .header__filters__btn {
    position: absolute;
    top: 0.1875rem;
    right: 0;
    padding: 0;
    font-size: 18px;
    color: #828282;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer; }
    .header__filters__btn--close {
      top: 0.0625rem;
      opacity: 0;
      pointer-events: none; }
    .header__filters__btn .icon {
      margin-left: 10px; }
    .header__filters__btn .icon-filters {
      position: relative;
      top: 2px; }
    .header__filters__btn path {
      fill: #787878; }
    .header__filters__btn:hover {
      color: #ffffff; }
      .header__filters__btn:hover path {
        fill: white; }
  .header__filters__modal {
    position: absolute;
    top: 2.5rem;
    left: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #161616;
    transition: all 0.25s ease; }
  .header__filters__modal__item {
    float: left;
    margin-right: 1.875rem; }
  .header__filters__modal__link {
    position: relative;
    font-size: 0.75rem;
    letter-spacing: 1px;
    color: #828282; }
    .header__filters__modal__link:before {
      content: "";
      position: absolute;
      top: -3.0625rem;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: transparent; }
    .header__filters__modal__link .icon {
      margin-right: 0.3125rem;
      fill: #828282; }
    .header__filters__modal__link:hover {
      color: white; }
      .header__filters__modal__link:hover .icon {
        fill: white; }
    .header__filters__modal__link.is-active {
      color: white; }
      .header__filters__modal__link.is-active:before {
        background-color: white; }
      .header__filters__modal__link.is-active path {
        fill: white; }
  .header.is-fade {
    opacity: 0; }
  .header.is-open .header__filters__btn {
    opacity: 0; }
    .header.is-open .header__filters__btn--close {
      opacity: 1;
      pointer-events: auto; }
  .header.is-open .header__filters__modal {
    opacity: 1;
    pointer-events: auto; }
  .header--project {
    height: 170px; }
    .header--project .header__item {
      margin-right: 1.5625rem; }
  @media (max-width: 768px) {
    .header {
      margin-top: 2.1875rem;
      overflow: visible; }
      .header--home {
        height: 5.3125rem; }
      .header__nav {
        padding-top: 1.5rem; }
      .header__item {
        float: none;
        display: inline-block; }
      .header__link {
        position: relative;
        z-index: 10; }
      .header__filters {
        top: 0.9375rem; }
      .header__filters__reset {
        position: relative;
        z-index: 5; }
      .header__filters__btn {
        top: 0.75rem; }
      .header__filters__label {
        display: none; }
      .header__filters__modal {
        top: 5rem;
        right: 0px;
        width: 100%;
        padding: 0.625rem 0;
        background: #161616;
        z-index: 1; }
      .header__filters__modal__item {
        float: none;
        margin-bottom: 0.9375rem; }
      .header__filters__modal__link:before {
        display: none; }
      .header__back {
        top: 1.6rem; }
        .header__back__label {
          display: none; }
      .header--project .header__item {
        display: block;
        margin-right: 1.5625rem; } }

.is-header-sticky {
  padding-top: 10.625rem; }
  .is-header-sticky .header--home {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 0;
    width: 100%;
    z-index: 10; }
  @media (max-width: 550px) {
    .is-header-sticky {
      padding-top: 7.5rem; } }

@media print {
  /* ------------------------------------------------------------------ */
  /* DEFAULT PRINT STYLE
	/* from HTML5 Boilerplate styles - h5bp.com
	/* ------------------------------------------------------------------ */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.tpl-project .main {
  min-height: calc(100vh - 230px); }

.tpl-project .main {
  overflow: hidden; }

*, *:before, *:after {
  box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  min-height: calc(100vh - 60px);
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
  background: #161616;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }
  body.no-scroll {
    overflow: scroll; }

a {
  color: inherit;
  text-decoration: none; }

/* Main container */
.main.is-fade {
  opacity: 0; }

/* Transitions */
.header__link, .header__back, .header__back .icon path, .header__filters__btn, .header__filters__btn path, .header__filters__modal__link, .header__filters__modal__link:before, .header__filters__modal__link .icon, .main, .carousel__img, .carousel__btn, .carousel__btn path {
  transition: all 0.25s ease; }

@font-face {
  font-family: 'theinhardtmedium';
  src: url("../fonts/theinhardtmed-webfont.eot");
  src: url("../fonts/theinhardtmed-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardtmed-webfont.woff2") format("woff2"), url("../fonts/theinhardtmed-webfont.woff") format("woff"), url("../fonts/theinhardtmed-webfont.ttf") format("truetype"), url("../fonts/theinhardtmed-webfont.svg#theinhardtmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardtregular';
  src: url("../fonts/theinhardtreg-webfont.eot");
  src: url("../fonts/theinhardtreg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardtreg-webfont.woff2") format("woff2"), url("../fonts/theinhardtreg-webfont.woff") format("woff"), url("../fonts/theinhardtreg-webfont.ttf") format("truetype"), url("../fonts/theinhardtreg-webfont.svg#theinhardtregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'theinhardtthin';
  src: url("../fonts/theinhardtthin-webfont.eot");
  src: url("../fonts/theinhardtthin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/theinhardtthin-webfont.woff2") format("woff2"), url("../fonts/theinhardtthin-webfont.woff") format("woff"), url("../fonts/theinhardtthin-webfont.ttf") format("truetype"), url("../fonts/theinhardtthin-webfont.svg#theinhardtthin") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Extend based on the font */
.carousel__item--intro .carousel__item__title, .carousel__item--txt .carousel__item__title, .carousel__item--next .carousel__item__content__label {
  font-family: 'theinhardtmedium', Arial, sans-serif; }

.header__title, .header__filters__btn, body, .carousel__btn {
  font-family: 'theinhardtregular', Arial, sans-serif; }

.icon-arrow-up,
.icon-arrow-down {
  width: 7px;
  height: 16px; }

.icon-arrow-left,
.icon-arrow-right {
  width: 16px;
  height: 7px; }

.icon-arrow-next {
  width: 85px;
  height: 35px; }

.icon-filters {
  width: 15px;
  height: 14px; }

.icon-close {
  width: 12px;
  height: 12px; }

.icon-interactive {
  width: 12px;
  height: 17px; }

.icon-motion {
  width: 15px;
  height: 15px; }

.icon-illustration {
  width: 15px;
  height: 14px; }

.icon-photography {
  width: 14px;
  height: 16px; }

.icon-all {
  width: 15px;
  height: 15px; }

/* Nav header */
.nav-header {
  overflow: hidden; }
  .nav-header__item {
    float: left; }

/* ------------------------------------------------------------------ */
/*        BOXES
/* ------------------------------------------------------------------ */
/*

Usage:

<div class="box-modulename">
    <div class="box-inner">
        <div class="box-hd">head</div>
        <div class="box-inner">body</div>
        <div class="box-ft">foot</div>
    </div>
</div>

Inspired by Standard module format + Octave & Octave guidelines
https://github.com/stubbornella/oocss/wiki/standard-module-format

*/
.projects {
  position: relative;
  /* Modifiers */ }
  .projects__item {
    width: 50%;
    padding: 1.5625rem 2rem; }
  .projects__link {
    display: block; }
  .projects__img {
    display: block;
    max-width: 100%;
    margin-bottom: 1.125rem; }
  .projects__title {
    font-size: 1.125rem;
    line-height: 1.5; }
  .projects__label {
    display: block;
    margin-top: -0.3125rem;
    font-size: 0.75rem;
    color: #828282;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .projects__pager {
    position: absolute !important;
    top: 0 !important;
    left: 100%;
    width: 26px;
    padding-top: 0.625rem;
    z-index: 10;
    /* Modifiers */ }
    .projects__pager__list {
      position: relative; }
    .projects__pager__item {
      float: left;
      width: 10px;
      height: 5px;
      margin: 0 0.0625rem 0.125rem;
      background: #454545;
      cursor: pointer; }
      .projects__pager__item:hover, .projects__pager__item.is-active {
        background: #ffffff;
        transition: all 0.25s linear; }
    .projects__pager.is-sticky {
      position: fixed !important;
      top: 108px !important; }
    .projects__pager.is-fade {
      opacity: 0; }
  .projects__btn {
    position: relative;
    left: -15px;
    display: block;
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.25s ease; }
    .projects__btn svg {
      margin-left: 15px; }
    .projects__btn.is-fade {
      opacity: 0.2;
      cursor: default;
      pointer-events: none; }
  .projects.is-scrolled .projects__item {
    opacity: 0.5;
    transition: all 0.25s linear; }
    .projects.is-scrolled .projects__item.is-active {
      opacity: 1; }
  @media (max-width: 550px) {
    .projects__pager {
      display: none; }
    .projects__item {
      width: 100%;
      padding: 0px 0px 2.5rem; } }

.carousel {
  position: relative;
  margin-bottom: 50px;
  /* Texte */ }
  .carousel__img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .carousel__wrapper {
    position: relative; }
  .carousel__slider {
    width: 100000px;
    margin: 0;
    padding: 0;
    transition: all 0.35s ease; }
  .carousel__item {
    display: block;
    float: left;
    max-width: calc(100vw - 150px);
    padding-left: 4rem;
    cursor: pointer;
    opacity: 0.5;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently */
    transition: opacity 0.25s ease; }
    .carousel__item.is-active {
      opacity: 1; }
    .carousel__item--intro, .carousel__item--txt {
      position: relative;
      padding-left: 0;
      font-size: 1.125rem; }
      .carousel__item--intro .carousel__item__container, .carousel__item--txt .carousel__item__container {
        min-height: 720px;
        width: 480px;
        padding: 6.875rem 3.9375rem;
        background: black; }
      .carousel__item--intro p + p, .carousel__item--txt p + p {
        margin-top: 1.875rem; }
      .carousel__item--intro .carousel__item__title, .carousel__item--txt .carousel__item__title {
        display: block;
        margin-bottom: 1.875rem;
        font-size: 1.5rem; }
    .carousel__item--txt {
      padding-left: 4rem; }
      .carousel__item--txt .carousel__item__container {
        width: 550px;
        padding: 6.875rem 9.375rem 6.875rem 3.9375rem; }
    .carousel__item--next {
      position: relative;
      padding-left: 10rem; }
      .carousel__item--next .carousel__item__content {
        position: absolute;
        top: 4.6875rem;
        left: 3.9375rem;
        display: block; }
        .carousel__item--next .carousel__item__content__label {
          position: relative;
          left: -0.25rem;
          display: block;
          margin-bottom: 0.3125rem;
          font-size: 4.0625rem;
          line-height: 1; }
        .carousel__item--next .carousel__item__content__title {
          display: inline-block;
          margin-right: 0.9375rem;
          font-size: 1.125rem;
          line-height: 1; }
        .carousel__item--next .carousel__item__content__category {
          font-size: 0.875rem;
          line-height: 1;
          color: #828282;
          text-transform: uppercase;
          letter-spacing: 2px; }
      .carousel__item--next .carousel__img {
        opacity: 0.1; }
      .carousel__item--next .icon {
        margin-left: 1.25rem; }
      .carousel__item--next:hover .carousel__img {
        opacity: 0.2; }
  .carousel__pager {
    float: right; }
  .carousel__btn {
    padding: 0 1.5625rem;
    font-size: 18px;
    color: #828282;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: pointer; }
    .carousel__btn svg {
      position: relative;
      top: -2px;
      margin: 0 5px; }
    .carousel__btn path {
      fill: #828282; }
    .carousel__btn:hover {
      color: white; }
      .carousel__btn:hover path {
        fill: white; }
    .carousel__btn.is-fade {
      pointer-events: none;
      opacity: 0; }
  .carousel__section + .carousel__section {
    margin-top: 1.25rem; }
  .carousel__label {
    display: block;
    color: #828282; }
  .carousel__value {
    display: block; }

@media (max-width: 768px) {
  .carousel__pager {
    float: none;
    margin-top: 2rem;
    overflow: hidden; }
  .carousel__btn--prev {
    float: left;
    margin-left: -0.3125rem;
    padding-left: 0; }
  .carousel__btn--next {
    float: right;
    margin-right: -0.3125rem;
    padding-right: 0; } }

@media (max-width: 550px) {
  .carousel__item {
    max-width: calc(100vw - 50px);
    padding: 0 20px; }
    .carousel__item--intro .carousel__item__container, .carousel__item--txt .carousel__item__container {
      width: 100%;
      min-height: 400px;
      padding: 2.1875rem; }
    .carousel__item--intro .carousel__item__title, .carousel__item--txt .carousel__item__title {
      font-size: 1.25rem; }
    .carousel__item--intro p, .carousel__item--txt p {
      -webkit-text-size-adjust: 100%; }
    .carousel__item--next .carousel__item__content {
      top: 3.4375rem;
      right: 2.8125rem;
      left: 2.8125rem; }
      .carousel__item--next .carousel__item__content__label {
        margin-bottom: 0.625rem;
        font-size: 2.8125rem;
        line-height: 2.8125rem; }
      .carousel__item--next .carousel__item__content__title {
        display: none; }
      .carousel__item--next .carousel__item__content__category {
        display: none; }
    .carousel__item--next .icon {
      display: block;
      margin: 1.875rem 0 0.9375rem; } }

.tpl-profile {
  background-color: #090909; }
  .tpl-profile .header {
    overflow: hidden; }
    .tpl-profile .header:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100px;
      background-color: #161616; }

.profile .grid {
  position: relative;
  height: calc(100vh - 169px);
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: black; }
  .profile .grid:after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(100% - 64px);
    bottom: 0;
    display: block;
    width: 9999px;
    background-color: #161616; }

.profile__img {
  display: block;
  max-width: 100%; }

.profile__hr {
  display: block;
  width: 60px;
  height: 1px;
  margin: 40px 0;
  background: #454545;
  border: none; }

.profile__txt {
  margin-bottom: 100px; }

@media (max-width: 550px) {
  .profile .grid:after {
    display: none; }
  .profile__txt {
    margin-bottom: 50px; }
  .profile__list {
    margin-top: 25px; } }

@media screen and (max-width: 900px) {
  .tpl-profile .prepend-1 {
    margin-left: 0;
    width: 50%; } }

.dev-grid {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  pointer-events: none; }
  .dev-grid.is-visible {
    display: block; }
  .dev-grid .grid,
  .dev-grid .row {
    height: 100%; }
  .dev-grid [class*="cell-"] {
    height: 100%; }
  .dev-grid .cell-content {
    display: block;
    width: 100%;
    background-color: rgba(142, 239, 186, 0.5); }
  @media (max-width: 550px) {
    .dev-grid {
      display: none; } }

.dev-grid__btn {
  display: inline-block;
  position: fixed;
  top: 0.625rem;
  right: 0.625rem;
  padding: 0.625rem 0.9375rem;
  font-size: 0.875rem;
  cursor: pointer;
  z-index: 20;
  background: white;
  font-family: inherit;
  color: black;
  border: none; }
  @media (max-width: 550px) {
    .dev-grid__btn {
      display: none; } }

@media (max-width: 550px) {
  .break-mobile {
    display: block; } }

/*# sourceMappingURL=maps/styles.css.map */
