header.header.js-header
	div.grid
		div.row
			div.cell-4
				nav.header__nav
					ul.header__list
						li.header__item
							h1
								a.header__link.is-active.js-page-transition(href="/") Antoine Barrès