header.header.header--project.is-fade.js-header
	div.grid
		div.row
			div.cell-4
				nav.header__nav
					div.header__progress__container.js-progress-container
						div.header__progress.js-progress
					ul.header__list
						li.header__item #[span.header__label Titre du projet] /
						li.header__item
							h1.header__title Illustration
					a.header__back.js-page-transition(href="/")
						span.header__back__label Close
						+icon-close
					div.carousel__pager
						button.carousel__btn.carousel__btn--prev.js-carousel-prev #[+icon-arrow-left] #[span.carousel__btn__label Previous]
						button.carousel__btn.carousel__btn--next.js-carousel-next #[span.carousel__btn__label Next] #[+icon-arrow-right]
