header.header.header--project.is-fade.js-header
	div.grid
		div.row
			div.cell-4
				nav.header__nav
					ul.header__list
						li.header__item #[span.header__label Titre du projet] /
						li.header__item
							h1.header__title Illustration
					a.header__back.js-page-transition(href="/") 
						span.header__back__label Close
						+icon-close