header.header.js-header
	div.grid
		div.row
			div.cell-4
				nav.header__nav
					ul.header__list
						li.header__item
							h1
								a.header__link.js-page-transition(href="index.html") Antoine Barrès
						li.header__item
							span.header__link.is-active Profile
