meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="css/styles.css" type="text/css")
link(rel="icon" type="image/png" href="img/favicon.png")

title Work — Antoine Barrès — Art & Design
meta(name="description" content="Interactive designer based in Paris, currently evolving at OctaveOctave. Also co-founder, composer and creator at L'ordre Collectif.")

meta(property="og:locale" content="fr_FR")
meta(property="og:type" content="website")
meta(property="og:title" content="Work — Antoine Barrès — Art & Design")
meta(property="og:description" content="Interactive designer based in Paris, currently evolving at OctaveOctave. Also co-founder, composer and creator at L'ordre Collectif.")
meta(property="og:url" content="antoinebarres.com")
meta(property="og:site_name" content="Work — Antoine Barrès — Art & Design")
meta(property="og:image" content="img/og-image.jpg")

meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="Work — Antoine Barrès — Art & Design")
meta(name="twitter:description" content="Interactive designer based in Paris, currently evolving at OctaveOctave. Also co-founder, composer and creator at L'ordre Collectif.")
meta(name="twitter:image" content="img/og-image.jpg")

