doctype html
html
	head
		include ../partials/_metas
		include ../mixins/_header--project

	body.tpl-project
		div.site-container.js-site-container
			include ../components/_base
			include ../partials/_grid

			block header
			
			main.main.is-fade.js-main
				block content
					
			include ../partials/_scripts

