doctype html
html
	head
		include ../partials/_metas

	body.tpl-profile
		div.site-container.js-site-container
			include ../components/_base
			include ../partials/_header--profile
			
			main.main.is-fade.js-main
				block content
					
			include ../partials/_scripts

