mixin icon-arrow-up
	svg.icon.icon-arrow-up
		path(fill="#ffffff" d="M3.5,0 L7,5 L4,5 L3.99743652,16 L3,16 L3,5 L0,5 L3.5,0 Z")

mixin icon-arrow-down
	svg.icon.icon-arrow-down
		path(fill="#ffffff" d="M2.99694824,0 L3,11.001709 L0,11.001709 L3.5,16.001709 L7,11.001709 L4,11.001709 L4,0.00170898438 L2.99694824,0 Z")

mixin icon-filters
	svg.icon.icon-filters
		path(fill="#ffffff" d="M0,2 L15,2 L15,3 L0,3 L0,2 Z M8,2 L8,1 L8.99680742,1 L9,0 L11,0 L11,1 L12,1.00174744 L12,2 L8,2 Z M8,3 L8,4 L9,4 L9,5 L11,5 L11,4 L12,4 L12,3 L8,3 Z M0,11 L15,11 L15,12 L0,12 L0,11 Z M3,11 L3,10 L4,10 L4,9 L6,9 L6,10 L7,10 L7,11 L3,11 Z M3,12 L3,13 L4,13 L4,14 L6,14 L6,13 L7,13 L7,12 L3,12 Z")