mixin slider-projects(nbItems)
	div.grid
		div.row
			div.projects.js-projects
				ul.projects__list.js-projects-list
					- for (i = 0; i < nbItems; i++)
						li.projects__item.js-projects-item
							a.projects__link.js-page-transition(href="project.html")
								img.projects__img(src="img/img-landscape.svg")
								h2.projects__title Impelled to confer perpetuity
								span.projects__label Interactive
						li.projects__item.js-projects-item
							a.projects__link.js-page-transition(href="project.html")
								img.projects__img(src="img/img-portrait.svg")
								h2.projects__title Impelled to confer perpetuity
								span.projects__label Interactive