extends layout/_base

block content
	div.grid
		div.row
			div.projects.js-projects
				ul.projects__list.js-projects-list
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="lecture.html")
							img.projects__img(src="img/lecture/01.jpg")
							h2.projects__title Lecture de formes — Formes de lecture
							span.projects__label Illustration
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="mirage.html")
							img.projects__img(src="img/mirage/1979.jpg")
							h2.projects__title Else — Mirage EP
							span.projects__label Illustration
					li.projects__item.js-projects-item.photography
						a.projects__link.js-page-transition(href="blackwhite.html")
							img.projects__img(src="img/blackwhite/14.jpg")
							h2.projects__title Black White Noise
							span.projects__label Photography
					li.projects__item.js-projects-item.interactive
						a.projects__link.js-page-transition(href="penelope.html")
							img.projects__img(src="img/penelope/01.jpg")
							h2.projects__title Penelope
							span.projects__label Interactive
					li.projects__item.js-projects-item.photography
						a.projects__link.js-page-transition(href="volume2.html")
							img.projects__img(src="img/volume2/00.jpg")
							h2.projects__title VDWAY Volume 2
							span.projects__label Print
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="shapes.html")
							img.projects__img(src="img/shapes/02.jpg")
							h2.projects__title Shapes Gradient
							span.projects__label Illustration
					li.projects__item.js-projects-item.photography
						a.projects__link.js-page-transition(href="iridescence.html")
							img.projects__img(src="img/iridescence/08.jpg")
							h2.projects__title Iridescence
							span.projects__label Photography
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="3DBody.html")
							img.projects__img(src="img/3DBody/01.jpg")
							h2.projects__title 3DBody shaders
							span.projects__label Illustration
					li.projects__item.js-projects-item.interactive
						a.projects__link.js-page-transition(href="killers.html")
							img.projects__img(src="img/killers/01.jpg")
							h2.projects__title The Killers — Vegas Show
							span.projects__label Illustration
					li.projects__item.js-projects-item.motion
						a.projects__link.js-page-transition(href="project.html")
							img.projects__img(src="img/416x510.jpg")
							h2.projects__title Impelled to confer perpetuity
							span.projects__label Interactive
					li.projects__item.js-projects-item.motion
						a.projects__link.js-page-transition(href="project.html")
							img.projects__img(src="img/416x510.jpg")
							h2.projects__title Impelled to confer perpetuity
							span.projects__label Interactive
					li.projects__item.js-projects-item.photography
						a.projects__link.js-page-transition(href="project.html")
							img.projects__img(src="img/416x510.jpg")
							h2.projects__title Impelled to confer perpetuity
							span.projects__label Interactive
					li.projects__item.js-projects-item.photography
						a.projects__link.js-page-transition(href="project.html")
							img.projects__img(src="img/416x510.jpg")
							h2.projects__title Impelled to confer perpetuity
							span.projects__label Interactive
					li.projects__item.js-projects-item.interactive
						a.projects__link.js-page-transition(href="project.html")
							img.projects__img(src="img/416x510.jpg")
							h2.projects__title Impelled to confer perpetuity
							span.projects__label Interactive
					li.projects__item.js-projects-item.photography
						a.projects__link.js-page-transition(href="project.html")
							img.projects__img(src="img/416x510.jpg")
							h2.projects__title Impelled to confer perpetuity
							span.projects__label Interactive
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="project.html")
							img.projects__img(src="img/416x510.jpg")
							h2.projects__title Impelled to confer perpetuity
							span.projects__label Interactive

