extends layout/_base

block content
	div.grid
		div.row
			div.projects.js-projects
				ul.projects__list.js-projects-list
					li.projects__item.js-projects-item.book
						a.projects__link.js-page-transition(href="lecture")
							img.projects__img(src="img/lecture/01.jpg")
							h2.projects__title Lecture de formes — Formes de lecture
							span.projects__label Book
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="mirage")
							img.projects__img(src="img/mirage/1979.jpg")
							h2.projects__title Else — Mirage EP
							span.projects__label Illustration
					li.projects__item.js-projects-item.interactive
						a.projects__link.js-page-transition(href="penelope")
							img.projects__img(src="img/penelope/01.png")
							h2.projects__title Penelope — Stefan Deyn
							span.projects__label Interactive
					li.projects__item.js-projects-item.photography
						a.projects__link.js-page-transition(href="blackwhite")
							img.projects__img(src="img/blackwhite/14.jpg")
							h2.projects__title Black Noise
							span.projects__label Photography
					li.projects__item.js-projects-item.book
						a.projects__link.js-page-transition(href="volume2")
							img.projects__img(src="img/volume2/00.jpg")
							h2.projects__title V.D.WAY
							span.projects__label Book
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="shapes")
							img.projects__img(src="img/shapes/02.jpg")
							h2.projects__title Shapes Gradient
							span.projects__label Illustration
					li.projects__item.js-projects-item.illustration
						a.projects__link.js-page-transition(href="iridescence")
							img.projects__img(src="img/iridescence/11.jpg")
							h2.projects__title Irradié
							span.projects__label Illustration

