extends layout/_base-project

block header
	+header--project('Irradié', 'illustration')

block content
	div.carousel.js-carousel
		div.carousel__wrapper
			ul.carousel__slider.js-carousel-slider
				li.carousel__item.carousel__item--intro.js-carousel-item
					div.carousel__item__container
						div.carousel__section
							span.carousel__label For
							span.carousel__value Experiment
						div.carousel__section
							span.carousel__label Released
							span.carousel__value February 2016
						div.carousel__section
							span.carousel__label On
							span.carousel__value Photography, Iridescent, Digital Glitch
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/iridescence/09.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/iridescence/11.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/iridescence/10.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/iridescence/08.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/iridescence/03.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/iridescence/06.jpg")
						
				li.carousel__item.carousel__item--next.js-carousel-item
					a.carousel__item__content(href="index")
						span.carousel__item__content__label #[span.break-mobile End.]
