extends layout/_base-project

block header
	+header--project('Else — Mirage EP', 'illustration')

block content
	div.carousel.js-carousel
		div.carousel__wrapper
			ul.carousel__slider.js-carousel-slider
				li.carousel__item.carousel__item--intro.js-carousel-item
					div.carousel__item__container
						div.carousel__section
							span.carousel__label For
							span.carousel__value Else — L'ordre Music
						div.carousel__section
							span.carousel__label Released
							span.carousel__value 25 January 2016
						div.carousel__section
							span.carousel__label On
							span.carousel__value Art Direction, Production, Typography
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/mirage/1979.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/mirage/aboutyou.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/mirage/chemicalface.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/mirage/mirage.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/mirage/tama.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/mirage/oceanside.jpg")
				li.carousel__item.carousel__item--next.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/01.png")
					a.carousel__item__content(href="penelope.html")
						span.carousel__item__content__label #[span.break-mobile Next] project
							+icon-arrow-next
						span.carousel__item__content__title Penelope — Stefan Deyn /
						span.carousel__item__content__category Interactive

