extends layout/_base-project

block header
	+header--project('Coucou', 'illustration')

block content
	div.carousel.js-carousel
		div.carousel__wrapper
			ul.carousel__slider.js-carousel-slider
				li.carousel__item.carousel__item--intro.js-carousel-item
					div.carousel__item__container
						div.carousel__section
							span.carousel__label For
							span.carousel__value Stefan Deyn
						div.carousel__section
							span.carousel__label Released
							span.carousel__value 22 December 2014
						div.carousel__section
							span.carousel__label On
							span.carousel__value Art Direction, UX, Responsive
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/01.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/02.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/03.gif")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/13.gif")						
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/04.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/05.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/06.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/07.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/08.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/09.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/10.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/11.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/12.jpg")

				li.carousel__item.carousel__item--next.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/shapes/01.jpg")
					a.carousel__item__content(href="shapes.html")
						span.carousel__item__content__label #[span.break-mobile Next] project
							+icon-arrow-next
						span.carousel__item__content__title Penelope /
						span.carousel__item__content__category Interactive

