extends layout/_base-project

block header
	+header--project('Penelope for Stefan Deyn', 'interactive')

block content
	div.carousel.js-carousel
		div.carousel__wrapper
			ul.carousel__slider.js-carousel-slider
				li.carousel__item.carousel__item--intro.js-carousel-item
					div.carousel__item__container
						div.carousel__section
							span.carousel__label For
							span.carousel__value Stefan Deyn
						div.carousel__section
							span.carousel__label Released
							span.carousel__value 22 December 2014
						div.carousel__section
							span.carousel__label On
							span.carousel__value UX Design, Art Direction, Responsive
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/01.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/02.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/03.gif")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/04.gif")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/05.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/06.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/07.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/08.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/09.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/10.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/11.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/12.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/13.png")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/penelope/14.png")

				li.carousel__item.carousel__item--next.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/blackwhite/14.jpg")
					a.carousel__item__content(href="blackwhite.html")
						span.carousel__item__content__label #[span.break-mobile Next] project
							+icon-arrow-next
						span.carousel__item__content__title Black White Noise /
						span.carousel__item__content__category Photography
