extends layout/_base--profile

block content
	div.profile
		div.grid
			div.row
				div.cell-3
					img.profile__img(src="img/profile.png")
					hr.profile__hr
					p.profile__txt Designer et musicien évoluant au sein du collectif L'ordre depuis 2011. <br>J'apporte des solutions visuelles et conceptuelles dans les champs du design graphique et du numérique ; spécialisé dans la création de sites responsives et d’applications mobiles dans les secteurs suivants : éditorial, médias, culture et institutionnel.
			div.row.clearfix
				div.cell-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="#") Linkedin
						li.profile__item
							a.profile__link(href="#") Soundcloud
				div.cell-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="#") +33 6 73 36 10 59
						li.profile__item
							a.profile__link(href="mailto:contact@antoinebarres.com") contact@antoinebarres.com
				div.cell-1.prepend-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="#")
						li.profile__item
							a.profile__link(href="mailto:personnal@nom.co")