extends layout/_base--profile

block content
	div.profile
		div.grid
			div.row
				div.cell-2
					img.profile__img(src="img/profile.svg")
					hr.profile__hr
					p.profile__txt Interactive designer based in Paris, currently evolving at OctaveOctave. <br> Specialized in user experience — web & mobile apps — visual identity for content, corporate and cultural brands. Also co-founder, composer and creator at L'ordre Collectif. Reach out for any inquiries.
			div.row.clearfix
				div.cell-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="https://www.linkedin.com/in/antoinebarres" target="_blank") Linked In
						li.profile__item
							a.profile__link(href="https://soundcloud.com/lordrecollectif" target="_blank") Soundcloud
				div.cell-1
					ul.profile__list
						li.profile__item
							p.profile__link(href="#") +33 6 73 36 10 59
						li.profile__item
							a.profile__link(href="mailto:contact@antoinebarres.com") contact@antoinebarres.com
				div.cell-1.prepend-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="#")
						li.profile__item
							a.profile__link(href="mailto:personnal@nom.co")