extends layout/_base--profile

block content
	div.profile
		div.grid
			div.row
				div.cell-3
					h2.profile__title Profile
					hr.profile__hr
					p.profile__txt Neptune was the first planet found by mathematical prediction rather than by empirical observation. Unexpected changes in the orbit of Uranus led Alexis Bouvard to deduce that its orbit was subject to gravitational perturbation by an unknown planet.
			div.row.clearfix
				div.cell-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="#") Linkedin
						li.profile__item
							a.profile__link(href="#") Soundcloud
				div.cell-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="#") Tumblr
						li.profile__item
							a.profile__link(href="#") Facebook
				div.cell-1.prepend-1
					ul.profile__list
						li.profile__item
							a.profile__link(href="#") +33 0 00 00 00
						li.profile__item
							a.profile__link(href="mailto:personnal@nom.co") personnal@nom.co