extends layout/_base-project

block content
	div.carousel.js-carousel
		div.carousel__wrapper
			ul.carousel__slider.js-carousel-slider
				li.carousel__item.carousel__item--txt.js-carousel-item
					div.carousel__item__container
						div.carousel__section
							span.carousel__label For
							span.carousel__value Vanderway, LA, E&B
						div.carousel__section
							span.carousel__label Since
							span.carousel__value 2012 to 2015
						div.carousel__section
							span.carousel__label On
							span.carousel__value Ergonomie, Experience, Interactive

					li.carousel__item.js-carousel-item
						img.carousel__img.js-carousel-img(src="img/416x510.jpg")
					li.carousel__item.js-carousel-item
						img.carousel__img.js-carousel-img(src="img/600x900.jpg")
					li.carousel__item.js-carousel-item
						img.carousel__img.js-carousel-img(src="img/200x300.jpg")
					li.carousel__item.js-carousel-item
						img.carousel__img.js-carousel-img(src="img/416x510.jpg")
					li.carousel__item.js-carousel-item
						img.carousel__img.js-carousel-img(src="img/600x900.jpg")
					li.carousel__item.js-carousel-item
						img.carousel__img.js-carousel-img(src="img/200x300.jpg")
