extends layout/_base-project

block header
	+header--project('Shapes Gradient', 'illustration')

block content
	div.carousel.js-carousel
		div.carousel__wrapper
			ul.carousel__slider.js-carousel-slider
				li.carousel__item.carousel__item--intro.js-carousel-item
					div.carousel__item__container
						div.carousel__section
							span.carousel__label For
							span.carousel__value Experiment
						div.carousel__section
							span.carousel__label Released
							span.carousel__value January 2016
						div.carousel__section
							span.carousel__label On
							span.carousel__value Abstract, Shapes, Gradient
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/shapes/01.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/shapes/02.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/shapes/03.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/shapes/04.jpg")
				li.carousel__item.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/shapes/05.jpg")
						
				li.carousel__item.carousel__item--next.js-carousel-item
					img.carousel__img.js-carousel-img(src="img/iridescence/09.jpg")
					a.carousel__item__content(href="iridescence")
						span.carousel__item__content__label #[span.break-mobile Next] project
							+icon-arrow-next
						span.carousel__item__content__title Irradié /
						span.carousel__item__content__category Illustration

