body {
	@extend %InhardtRegular;
	font-size:#{$base-font-size};
    line-height:#{$base-line-height};
    color: $color-font;
	background: $background-dark;
	-webkit-font-smoothing: antialiased;
}

a {
	color: inherit;
	text-decoration: none;
}


/* Main container */

.main {
	@extend %transitionEase;

	&.is-fade {
		opacity: 0;
	}
}


/* Transitions */

%transitionEase {
	@include transition(all $transition-quick ease);
}