.carousel{
	position: relative;
	margin-bottom: 50px;

	&__img {
	    display: block;
	    max-width: 100%;
	    margin: 0 auto;
	}

	&__wrapper {
	    position: relative;
	}

	&__slider {
		@extend %transitionEase;
		width: 100000px;
	    margin: 0;
	    padding: 0;
	}

	&__item {
		@extend %transitionEase;
		display: inline-block;
		vertical-align: top;
		margin-right: -4px;
	  	padding-right: pxToRem($gutter * 2);
	  	cursor: pointer;

	  	&--txt {
	  		position: relative;

	  		.carousel__item__container {
	  			min-height: 400px;
	  			padding: 20px;
	  			background: black;
	  		}
	  	}
	}

	&__pager {
		position: absolute;
		top: pxToRem(-75px);
		left: 45%;
	}

	&__btn {
		padding: pxToRem(15px) pxToRem(25px);
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		cursor: pointer;
	}

	/* Texte */

	&__section + &__section {
		margin-top: pxToRem(20px);
	}

	&__label {
		display: block;
		color: $color-grey;
	}

	&__value {
		display: block;
	}
}

@media screen and (max-height: 900px) {
	.carousel {
		.carousel__item__container {
			padding: pxToRem(50px) pxToRem(30px);
		}
	}
}

@include mobile {
	.carousel {
		&__item {
			padding: 0 2rem;
		}

		&__pager {
			position: static;
			margin-bottom: 1rem;
			padding: 0 2rem;
			overflow: hidden;
		}

		&__btn {
			&--prev {
				float: left;
				padding-left: 0;
			}

			&--next {
				float: right;
				padding-right: 0;
			}
		}
	}
}
