.icon-arrow-up,
.icon-arrow-down {
	width: 7px;
	height: 16px;
}

.icon-arrow-left,
.icon-arrow-right {
	width: 16px;
	height: 7px;
}

.icon-filters {
	width: 15px;
	height: 14px;
}

.icon-close {
	width: 9px;
	height: 9px;
}