.icon-arrow-up,
.icon-arrow-down {
	width: 7px;
	height: 16px;
}

.icon-arrow-left,
.icon-arrow-right {
	width: 16px;
	height: 7px;
}

.icon-arrow-next {
	width: 85px;
	height: 35px;
}

.icon-filters {
	width: 15px;
	height: 14px;
}

.icon-close {
	width: 9px;
	height: 9px;
}

.icon-interactive {
	width: 12px;
	height: 17px;
}

.icon-motion {
	width: 15px;
	height: 15px;
}

.icon-illustration {
	width: 15px;
	height: 14px;
}

.icon-photography {
	width: 14px;
	height: 16px;
}