.projects {
	position: relative;

	&__item {
		width: 50%;
		padding: pxToRem(25px) pxToRem($gutter);
	}

	&__link {
		display: block;
	}

	&__img {
		display: block;
		max-width: 100%;
		margin-bottom: pxToRem(18px);
	}

	&__title {
		font-size: pxToRem(18px);
		line-height: 1.5;
	}

	&__label {
		display: block;
		margin-top: pxToRem(-5px);
		font-size: pxToRem(12px);
		color: $color-grey;
		text-transform: uppercase;
	}

	&__btn {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;

		/* Modifiers */

		&--prev {
			margin-bottom: pxToRem(25px);
		}

		.icon-arrow-down {
			display: block;
			margin-top: pxToRem(25px);
		}
	}

	&__pager {
		position: absolute !important;
		top: 0 !important;
		left: 100%;
		width: 26px;
		padding-top: pxToRem(25px);

		&__list {
			position: relative;
		}

		&__item {
			float: left;
			width: 10px;
			height: 5px;
			margin: 0 pxToRem(1px) pxToRem(2px);
			background: $border-color;
			cursor: pointer;

			&:hover,
			&.is-active {
				background: $color-font;
				@include transition(all $transition-quick linear);
			}
		}

		/* Modifiers */
		&.is-sticky {
			position: fixed !important;	
			top: 0;
		}
	}

	/* Modifiers */

	&.is-scrolled {
		.projects__item {
			opacity: 0.5;
			@include transition(all $transition-quick linear);

			&.is-active {
				opacity: 1;
			}			
		}
	}
}