.profile {
	padding: 80px 0;
	background: #090909;
	overflow: hidden;

	&__hr {
		display: block;
		width: 60px;
		height: 1px;
		margin: 40px 0;
		background: $border-color;
		border: none;
	}

	&__list {
		margin-top: 100px;
	}
}