// Grid for the project.

$cols: 4;
$gutter: 32px;
$widthGrid: 1344px;
$width: $widthGrid + $gutter * 2;

$gutterMobile: 20px;

.grid {
    max-width: $width;
    padding: 0 pxToRem($gutter * 2);
}

.row {
    margin-left: -$gutter;
    margin-right: -$gutter;
}

[class*="cell-"] {
    min-height: 1px;
    float: left;
    padding-left: $gutter;
    padding-right: $gutter;
}

@for $i from 1 through $cols {
    .cell-#{$i} {
        width: (100% / $cols) * $i;
    }
}

@for $i from 1 through $cols {
    .prepend-#{$i} {
        margin-left: (100% / $cols) * $i;
    }
}

@for $i from 1 through $cols {
    .append-#{$i} {
        margin-right: (100% / $cols) * $i;
    }
}

@include mobile {
    [class*="cell-"] {
        float: none;
        width: 100%;
        padding: 0;
    }

    @for $i from 1 through $cols {
        .prepend-#{$i} {
            margin-left: 0;
        }
    }

    .grid {
        padding: 0 pxToRem($gutterMobile);
    }

    .row {
        margin: 0;
    }
}