.header {
	@extend %transitionEase;
	margin: pxToRem(60px) 0 pxToRem(40px);
	overflow: hidden;

	&__nav {
		position: relative;
		padding-top: pxToRem(40px);
		border-top: 1px solid $border-color;
	}

	&__item {
		display: inline-block;
		margin-right: pxToRem(35px);
	}

	&__link {
		@extend %transitionEase;
		font-size: pxToRem(18px);
		color: $color-grey;

		&:hover,
		&.is-active{
			color: $color-font;
		}
	}

	&__label {
		display: inline-block;
		margin-right: pxToRem(8px);
		font-size: pxToRem(18px);
	}

	&__title {
		@extend %InhardtRegular;
		font-size: pxToRem(12px);
		color: $color-grey;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	&__back {
		@extend %InhardtThin;
		@extend %transitionEase;
		position: absolute;
		top: pxToRem(40px);
		right: 0;
		font-size: 18px;
		color: $color-grey;

		.icon {
			margin-left: pxToRem(6px);

			path {
				fill: $color-grey;
				@extend %transitionEase;
			}
		}

		&:hover {
			color: white;

			path {
				fill: white;
			}
		}
	}

	&__filters {
		position: absolute;
		top: pxToRem(40px);
		right: 0;
	}

	&__filters__btn {
		float: right;
		position: relative;
		top: 6px;
		background: none;
		border: none;
		border-radius: 0;
		outline: none;
		cursor: pointer;

		path {
			@extend %transitionEase;
			fill: $color-grey-light;
		}

		&:hover {
			path {
				fill: white;
			}
		}
	}

	&__filters__modal {
		position: absolute;
		top: 0;
		right: pxToRem(28px);
		display: none;
	}

	&__filters__modal__item {
		float: left;
		margin-right: pxToRem(30px);
	}

	&__filters__modal__link {
		@extend %transitionEase;
		font-size: pxToRem(12px);
		letter-spacing: 1px;
		color: $color-grey;

		.icon {
			margin-right: pxToRem(5px);
		}

		&:hover {
			color: white;

			.icon {
				path {
					fill: white;
				}
			}
		}
	}

	/* Modifiers */
	&.is-fade {
		opacity: 0;
	}

	&.is-open {
		.header__filters {
			width: 100%;
		}

		.header__filters__modal {
			display: block;
		}
	}

	&--project {
		.header__item {
			margin-right: pxToRem(25px);
		}
	}

	@include mobile {
		margin-top: pxToRem(40px);
		overflow: visible;

		&__nav {
			padding-top: pxToRem(24px);
		}

		&__item {
			float: none;
			display: inline-block;
		}

		&__filters {
			top: pxToRem(15px);
			width: 100%;
		}

		&__filters__btn {
			top: pxToRem(10px);
			z-index: 2;
		}

		&__filters__modal {
			right: pxToRem(0px);
			width: 100%;
			padding: pxToRem(10px) 0;
			background: $background-dark;
			z-index: 1;
		}

		&__filters__modal__item {
			float: none;
			margin-bottom: pxToRem(15px);
		}
	}
}