/*------------------------------------*\
    PROJECT VARIABLES
\*------------------------------------*/
$base-font-size:16px;
$base-line-height:28px;

// Project colors.
$color-font: #ffffff;
$color-grey: #828282;
$background-dark: #161616;
$border-color: #454545;

// Transition.
$transition-quick: 0.25s;




